@using WebUI.Models

@model PhotosListViewModel



@{
    ViewBag.Title = "List";
}

@foreach (var photo in Model.Photos)
{
    @Html.Partial("_PhotoServicesSummary",photo)

}

<div class="btn-group pull-right" >
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, colortype = Model.CurrColorType}))
</div>



