@using Domain.Entities

@model IEnumerable<Photo>



@{
    ViewBag.Title = "List";
}

@foreach (Photo photo in Model)
{
    <div>
        <h5 align="center">@photo.Name - для формата:@photo.PhotoFormat</h5>
        <h5>@photo.ColorType</h5>
        <div class="description">@photo.Description</div>
        <h4 align="center">@photo.Price.ToString("# грн")</h4>
    </div>
    <hr />
}



